
body {        
    font-family: 'Titillium Web', sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    padding: 30px;
    background-color:lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #A2D7D2;
    height: 110px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
button {
    background-color: green;
    cursor:grabbing;
    width: 100px;
}
button:focus {
    background-color: blue;
}
input {
    border-radius: 10px
}
span {
    font-weight: bolder;
    font-size: 20px;
}


header img {
    height: 100%;
    object-fit: contain;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

footer {
    background-color: #FAF0EA;
    padding: 10px;
}
